*.crt
!certificates/*.crt
*.css.json
*.key
*.log
*.tar
*.tfplan
.s.PGSQL.*.lock
infection.log

.direnv/
.env
.idea/
.phpunit.cache/
.postgres_data/
.tmp/
.vscode/
coverage/
dist/
node_modules/
public/assets/
result
src-generated/
target/
terraform/.terraform/
test-results/
vendor/
