.direnv/
.idea/
.phpunit.cache/
.s.PGSQL.*.lock
.tmp/
.vscode/
result
target/
terraform/.terraform/
vendor/
public/assets/
node_modules/
*.css.json
src-generated/
infection.log
.env
test-results/
coverage/
*.tar
