:root {
    --colour-brand: #ff1885;
    --colour-primary: #fafafa;
    --colour-secondary: #4B7880;
    --colour-background: #070C17;

    --colour-background-w10: color-mix(in srgb, var(--colour-background) 90%, white);
    --colour-background-w20: color-mix(in srgb, var(--colour-background) 80%, white);

    --font-size-secondary: 0.6rem;
}

body {
	font-family: system-ui, sans-serif;
    background-color: var(--colour-background);
    color: var(--colour-primary);
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--colour-brand);
}

.todo-list {
    margin: 0;
    padding: 0;
}

.todo-list li {
    margin: 0;
    list-style-type: none;
}

.todo-creation {
    background-color: var(--colour-background-w10);
}

.todo.-compact {
    padding: 8px;

    margin: 0;

    p {
        margin: 0;
    }

    p.meta {
        display: flex;
        gap: 4px;
        margin-top: 8px;
        font-size: var(--font-size-secondary);
    }

    .id, .duration, .priority, .deadline {
        display: block;
        padding: 0 8px;
        border-radius: 10%;

        background-color: var(--colour-background-w20);
    }
}

form.-inline {
    display: flex;
    padding: 10px 0;
}

input, select {
    color: var(--colour-primary);
    background-color: var(--colour-background);
    border: 1px solid var(--colour-secondary);

    &:focus {
        outline: 0 none;
    }

    &:has(+ .input-addon) {
        margin-right: 0;
    }

    & + .input-addon {
        display: block;

        border: 1px solid var(--colour-secondary);
        border-left: 0 none;
        gap: 0;
    }

    &.small {
        width: 10ex;
    }
}

input::placeholder {
    color: var(--colour-secondary);
}

input[type=number] {
    appearance: textfield;
}

button, input, select, label, .input-addon {
    padding: 5px;
    margin-right: 6px;
}

button, input[type=submit] {
    font-size: 1rem;
    color: var(--colour-primary);
    background-color: var(--colour-background);
    border: 1px solid var(--colour-secondary);
}
