SELECT
    t.id,
    title,
    u.name as assignee_name,
    u.id as assignee_id,
    (
        SELECT
        json_agg(ta.name)
        FROM tags ta
        INNER JOIN tasks_tags tt ON ta.id = tt.tag_id
        WHERE tt.task_id = t.id
    ) AS tags,
    (deadline).datetime as deadline_timestamp,
    (deadline).timezone as deadline_timezone,
    time_records,
    state as status
FROM tasks t
LEFT JOIN users u ON u.id = t.assignee_id
WHERE
{{where}}