name: Build coverage reports
on: 
  pull_request: ~
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - name: build code coverage
        run: ./.github/scripts/build_coverage.sh

      - uses: actions/upload-artifact@v7
        with:
          name: coverage
          path: result

  upload-coverage:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/download-artifact@v8
        with:
          name: coverage
          path: result

      - name: Give coverage files codecov-friendly names
        #run: 
        run: ./.github/scripts/rename_coverage_files.sh

      - name: List coverage files
        run: echo "files=$(find result/* | tr \\\"\\n\\\" \\\",\\\" | head -c -1)" >> $GITHUB_OUTPUT
        id: coverage_files

      - name: Upload to codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          files: "${{ steps.coverage_files.outputs.files }}"
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ramonacat/monorepo
          fail_ci_if_error: true
