name: Build all the machines
on: 
  pull_request: ~
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Extract branch name
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Setup ssh credentials
        run: ./.github/scripts/credentials.sh
        env:
          LIX_REPO_TOKEN: "${{ secrets.LIX_REPO_TOKEN }}"

      - name: put the SSH key in a file
        run: echo "${{ secrets.SSH_KEY }}" > id_ed25519

      - name: build all machines
        id: build-all
        run: ./.github/scripts/build.sh "${{ steps.extract_branch.outputs.branch }}"

      - name: Find Comment
        # dependabot is excluded, because dependabot PRs don't have acceess to secrets
        if: github.ref != 'refs/heads/main' && github.actor != 'dependabot[bot]'
        uses: peter-evans/find-comment@v4
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'ramonacat'
          body-includes: Build results
          token: "${{ secrets.PAT }}"

      - name: Create or update comment
        if: github.ref != 'refs/heads/main' && github.actor != 'dependabot[bot]'
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.build-all.outputs.READABLE_OUTPUT }}
          edit-mode: replace
          token: "${{ secrets.PAT }}"

      - name: upload iso as artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v6
        with:
          name: iso
          path: result/iso/iso/*.iso

      - name: upload the kexec_bundle as artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v6
        with:
          name: kexec-bundle
          path: result/kexec-bundle/*
